.header {
  background-color: white;
  left: -5rem;
  height: 60px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: .15rem;
  border: 1px $primaryGrey solid;
  position: relative;
  margin-bottom: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  @mixin atSmall {
    width: 318px;
    height: 40px;
    left: 1rem;
    letter-spacing: .10rem;
  }

  &:after {
    content: "";
    position: absolute;
    border-top: 1px solid #2f2f2f;
    height: 2.8rem;
    border-right: 1px solid #2f2f2f;
    width: 47%;
    left: 100%;
    bottom: -29%;
    @mixin atSmall {
      width: 15%;
      bottom: -44%;
      height: 2.2rem;
    }
  }

  &__title {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @mixin atSmall {
      font-size: .7rem;
    }
  }
}
