.hotspot {
  margin: 25px;
  width: 20px;
  top: 0;
  position: absolute;
}

#sanitary {
  left: 39%;
  top: 13%;
}

#pumphouse {
  left: 31%;
  top: 28%;
}

#digesters {
  left: 45.5%;
  top: 27%;
}

#settling_basin {
  left: 41%;
  top: 21%;
}

#fermenter {
  left: 65%;
  top: 30%;
}

#clarifier {
  left: 37%;
  top: 57%;
}

#bioreactor {
  left: 55%;
  top: 48%;
}

#degritter {
  left: 51%;
  top: 17%;
}

#secondary_clarifiers {
  left: 69%;
  top: 23%;
}

#belt_filter {
  left: 66.5%;
  top: 41%;
}

/* 2. Pumphouse hotspots */

#fans {
  left: 33%;
  top: 19%;
}

#pump {
  left: 25%;
  top: 76%;
}

#cabinet {
  left: 39%;
  top: 50%;
}

#generator {
  left: 73%;
  top: 52%;
}

/* 3. Primary Settling Basin Hotspots */
#sludge_drive {
  left: 69%;
  top: 32%;
  @mixin atSmall {
    left: 62%;
  }
}

#contactor_drive {
  left: 25%;
  top: 53%;
  @mixin atSmall {
    left: 20%;
  }
}

/* 4. Anaerobic Digester Hotspots */
#digester_pump {
  left: 14%;
  top: 74%;
}
#digester_motor {
  left: 48%;
  top: 25%;
}
#digester_genset {
  left: 27%;
  top: 76%;
}
/* 5. Fermenter Hotspot */
#fermenter_center {
  left: 40%;
  top: 55%;
}
/* 6. Primary Aeration Clarifier Hotspot */
#clarifier_center {
  left: 50%;
  top: 40%;
  @mixin atSmall {
    left: 47.5%;
    top: 47%;
  }
}
/* 7. Bioreactor Hotspot */

/* 8. Degritter Hotspot */
#degritter_center {
  left: 50%;
  top: 47%;
}
/* 9. Secondary Clarifier Clarifier Hotspot */

/* 10. Belt Filter Hotspot */

.dot {
  &--settling-basin {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    position: absolute;
    background: $regalPurple;
    border: 2px solid $regalPurple;
    top: 50%;
    left: 50%;
    opacity: 0.6;
  }
  @mixin atSmall {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    position: absolute;
    background: $regalPurple;
    border: 2px solid $regalPurple;
    top: 50%;
    left: 50%;
    opacity: 0.6;
  }
}

.pulse {
  @mixin atSmall {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 50%;
    border: 2px solid $regalPurple;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -ms-border-radius: 50%;
    -ms-animation: pulsate 2s ease-out;
    -ms-animation-iteration-count: infinite;
    /*     opacity: 0.0 */
  }
  &--settling-basin {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 50%;
    border: 2px solid $regalPurple;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -ms-border-radius: 50%;
    -ms-animation: pulsate 2s ease-out;
    -ms-animation-iteration-count: infinite;
    /*     opacity: 0.0 */
  }
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 0.9;
  }
  /*     50% {opacity: 0.85;} */
  100% {
    -webkit-transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
@-ms-keyframes pulsate {
  0% {
    -ms-transform: scale(1, 1);
    opacity: 0.9;
  }
  /* 50% {
        opacity: 1.0;
    } */
  100% {
    -ms-transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    -o-transform: scale(1, 1);
    opacity: 0.9;
  }
  /* 50% {
        opacity: 1.0;
    } */
  100% {
    -o-transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 0.9;
  }
  /* 50% {
        opacity: 1.0;
    } */
  100% {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
