.hotspot {
  display: hidden;
  @mixin atSmall {
    margin: 25px;
    width: 20px;
    position: absolute;
  }
}
#sanitary {
  left: 39%;
  top: 13%;
}
#pump {
  left: 33%;
  top: 29%;
}
#settling_basin {
  left: 43%;
  top: 23%;
}
#fermenter {
  left: 67%;
  top: 30%;
}

#clarifier {
  left: 41%;
  top: 57%;
}

#bioreactor {
  left: 48%;
  top: 28%;
}

#degritter {
  left: 52%;
  top: 17%;
}

#secondary_clarifiers {
  left: 58%;
  top: 48%;
}

#belt_filter {
  left: 70%;
  top: 22%;
}

.dot {
  display: hidden;
  @mixin atSmall {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    position: absolute;
    background: $regalPurple;
    border: 2px solid $regalPurple;
    top: 50%;
    left: 50%;
    opacity: 0.6;
  }
}

.pulse {
  display: hidden;
@mixin atSmall {  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 50%;
  border: 2px solid $regalPurple;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  /*     opacity: 0.0 */}
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1.0, 1.0);
    opacity: 0.9;
  }
  /*     50% {opacity: 0.85;} */
  100% {
    -webkit-transform: scale(2.5, 2.5);
    opacity: 0.0;
  }
}
