html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  &--link_list {
    list-style: none;
    padding: 1rem 0;
    & a {
      color: white;
    }
    &__links {
      line-height: 1.6rem;
    }
  }
}

.modal-width {
  max-width: none !important;
}
.modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 8rem;
}

.modal-dialogue {
  max-width: 100%;
}

.modal-header {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px white solid;
  width: 100%;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: .15rem;
  text-transform: uppercase;
  padding-top: 1.1rem;
  text-align: center;
  height: 65px;
  margin-bottom: 1.5rem;
  @mixin atSmall {
    letter-spacing: .10rem;
    font-size: 1rem;
    height: 2rem;
    margin-bottom: 0.8rem;
  }
}

.modal-text {
  color: white;
  font-size: 1rem;
  @mixin atSmall {
    position: relative;
    top: -4%;
    text-align: justify;
    width: 75%;
    margin: 0 auto;
  }
}

.modal__header {
  @mixin atSmall {
    position: relative;
    top: -412px;
  }
}

.modal__asset {
  width: 100%;
  @mixin atSmall {
    position: relative;
    top: -1%;
    height: 100%;
  }
}

.modal__img {
  border: 1px solid white;
}

.modal__video {
  border: 1px solid white;
  width: 99% !important;
  height: 102% !important;
  @mixin atSmall {
    height: 98% !important;
  }
}

.fan-modal_container {
  padding: 0;
}
