.mapster_tooltip {
  content: attr(name);
  text-align: center;
  width: 18rem;
  margin-right: -8.5em;
  height: 3rem;
  background-color: #FFFFFF;
  font-size: .9em;
  font-weight: 500;
  border-radius: .5em;
  bottom: 90px;
  line-height: 3rem;
  position: absolute;
  transition: all 650ms ease-in-out;
  margin-top: -15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 45px 79px;
  @mixin atSmall {
    visibility: hidden;
  }

  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    width: 0;
    border-top: 10px solid #FFFFFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
